In [17]:
import pandas as pd 
%matplotlib inline
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [ ]:
import statistics

In [2]:
df = pd.read_csv('filtered_data.csv', index_col = 0)
df['Date'] = pd.to_datetime(df['Date'])
df.head()

,Date,ASTS,ASTSW,NPAUU,INVZ,INVZW,CGROU,FOA,FOA/WS,RPLA/U,...,HYACU,ASLE,ASLEW,MNCLU,XL,GOEV,GOEVW,CLVR,CLVRW,SAMAU
1,2019-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2019-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
ticker = 'INVZ'
tester = df[['Date',ticker]]
print(tester[tester['Date'] ==  '2020-12-11'])
print(tester[tester['Date'] ==  '2020-12-19'])
tester['Date']

          Date   INVZ
509 2020-12-11  13.22
Empty DataFrame
Columns: [Date, INVZ]
Index: []

1     2019-01-01
2     2019-01-02
3     2019-01-03
4     2019-01-04
5     2019-01-07
         ...
592   2021-04-07
593   2021-04-08
594   2021-04-09
595   2021-04-12
596   2021-04-13
Name: Date, Length: 596, dtype: datetime64[ns]

In [5]:
announcements_df = pd.read_csv('filtered_announced_data.csv', index_col = 0)
announcements_df['Announced'] = pd.to_datetime(announcements_df['Announced'])
announcements_df['Closed'] = pd.to_datetime(announcements_df['Closed'])
announcements_df.head()

  Ticker  Announced     Closed
0   ASTS 2020-12-16 2021-04-06
1   INVZ 2020-12-11 2021-04-05
2    FOA 2020-10-13 2021-04-01
3   PSFE 2020-12-07 2021-03-30
4   ARVL 2020-11-18 2021-03-24

In [8]:
tickers = list(announcements_df['Ticker'])
len(tickers), tickers

(170,
 ['ASTS',
  'INVZ',
  'FOA',
  'PSFE',
  'ARVL',
  'NVVE',
  'LBPS',
  'PCT',
  'AEVA',
  'OUST',
  'VIEW',
  'CHPT',
  'BFLY',
  'NUVB',
  'PLBY',
  'MILE',
  'GMTX',
  'ETWO',
  'ADN',
  'APPH',
  'UWMC',
  'LOTZ',
  'HIMS',
  'BTRS',
  'CLOV',
  'LSEA',
  'BMTX',
  'CLNN',
  'DNMR',
  'GNOG',
  'RMO',
  'RSI',
  'PRCH',
  'VINC',
  'ARKO',
  'ASLE',
  'XL',
  'GOEV',
  'CLVR',
  'OPEN',
  'SKLZ',
  'BFI',
  'RVPH',
  'DM',
  'HTOO',
  'LAZR',
  'QS',
  'ID',
  'MP',
  'UK',
  'GCMG',
  'EOSE',
  'TRIT',
  'ATNF',
  'TLMD',
  'FSR',
  'ADV',
  'CERE',
  'RIDE',
  'PAYA',
  'TTCF',
  'CURI',
  'SFT',
  'MPLN',
  'HYLN',
  'EQOS',
  'VLDR',
  'GB',
  'UTZ',
  'HPK',
  'DMS',
  'IMTX',
  'HOFV',
  'FREE',
  'LGHL',
  'LPRO',
  'NKLA',
  'HYMC',
  'SJ',
  'DKNG',
  nan,
  'AVCT',
  nan,
  'METX',
  'IGIC',
  'BWMX',
  'GDYN',
  'ALTG',
  'ATCX',
  'GSMG',
  'PAE',
  'VRT',
  'VVNT',
  'KLDI',
  'BROG',
  'NFH',
  'IMVT',
  nan,
  'KLR',
  'ACEL',
  'BRMK',
  'AHCO',
  nan,
  'PHGE',
  'SPCE',
  'GTEC',
  'SONG',
  'DMTK',
  'AESE',
  'CTOS',
  'RPAY',
  'ISUN',
  'KERN',
  'PACK',
  'XYNO',
  'CLVT',
  'KXIN',
  nan,
  nan,
  'HUNTF',
  'OSW',
  'TH',
  'BIOX',
  'GTYH',
  'AGLY',
  'PHUN',
  'RBZHF',
  'ORGO',
  'BBCP',
  'WINR',
  'WTRH',
  'ALTM',
  'USWS',
  'SG',
  nan,
  'NRCG',
  'VRRM',
  'FLMN',
  'HFFG',
  nan,
  'MGY',
  'IMXI',
  'PRTH',
  nan,
  'NESR',
  'IEA',
  'LAZY',
  'CVON',
  'PRPL',
  'AMRQQ',
  'CCNC',
  'ESTR',
  'FG',
  'WSC',
  nan,
  'RMNI',
  nan,
  'BRQS',
  'NEXT',
  'XELA',
  'SMPL',
  'CISN',
  'ROSE',
  'PLYA',
  'DSKE',
  'IFMK',
  'VVPR',
  'TWNK',
  'CDEV',
  'CCN'])

In [14]:
for i, row in announcements_df.iterrows():
    print(row['Ticker'],'\n')

ASTS

INVZ

FOA

PSFE

ARVL

NVVE

LBPS

PCT

AEVA

OUST

VIEW

CHPT

BFLY

NUVB

PLBY

MILE

GMTX

ETWO

ADN

APPH

UWMC

LOTZ

HIMS

BTRS

CLOV

LSEA

BMTX

CLNN

DNMR

GNOG

RMO

RSI

PRCH

VINC

ARKO

ASLE

XL

GOEV

CLVR

OPEN

SKLZ

BFI

RVPH

DM

HTOO

LAZR

QS

ID

MP

UK

GCMG

EOSE

TRIT

ATNF

TLMD

FSR

ADV

CERE

RIDE

PAYA

TTCF

CURI

SFT

MPLN

HYLN

EQOS

VLDR

GB

UTZ

HPK

DMS

IMTX

HOFV

FREE

LGHL

LPRO

NKLA

HYMC

SJ

DKNG

NaT

AVCT

NaT

METX

IGIC

BWMX

GDYN

ALTG

ATCX

GSMG

PAE

VRT

VVNT

KLDI

BROG

NFH

IMVT

NaT

KLR

ACEL

BRMK

AHCO

NaT

PHGE

SPCE

GTEC

SONG

DMTK

AESE

CTOS

RPAY

ISUN

KERN

PACK

XYNO

CLVT

KXIN

NaT

NaT

HUNTF

OSW

TH

BIOX

GTYH

AGLY

PHUN

RBZHF

ORGO

BBCP

WINR

WTRH

ALTM

USWS

SG

NaT

NRCG

VRRM

FLMN

HFFG

NaT

MGY

IMXI

PRTH

NaT

NESR

IEA

LAZY

CVON

PRPL

AMRQQ

CCNC

ESTR

FG

WSC

NaT

RMNI

NaT

BRQS

NEXT

XELA

SMPL

CISN

ROSE

PLYA

DSKE

IFMK

VVPR

TWNK

CDEV

CCN

In [22]:
# params: announcement is a row of a dataframe that has the ticker and acquisition announcement date
# time horizon is a time delta object that represents how long we will hold the ticker after announcement
def buy_ticker(announcement, time_horizon):
    print(announcement['Announced']) #purchase date
    print(announcement['Ticker']) #ticker
    print(announcement['Announced']+ time_horizon) #sell date
    
buy_ticker(announcements_df.iloc[1], timedelta(days = 3))

2020-12-11 00:00:00
INVZ
2020-12-14 00:00:00

In [ ]:
buy_dates = []